.plot-area {  
    margin-bottom: 0.5rem !important;
    margin-right: 0 !important;
    margin-top: 0.5rem;
    line-height: 1.375;
    overflow: auto;
    max-width: 100%;
    background-attachment: local, local, scroll, scroll;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    //background-color: #fdfdfd;
    word-break: break-word;
  }
  