@charset "utf-8";

@media screen and (max-width:1023px){
  .preview-item{
    //font-size: 2.4rem;
    max-height: 1250px;
   // > h2 {
    //  font-size: 2.6rem;
    //}
  }
  //span.button-source-nav {
  //  font-size: 2.4rem;
  //}
}

@media screen and (min-width:1024px) {
  .preview-item {  
    max-height: 400px;
    margin-bottom: 0.5rem !important;
    margin-right: 0 !important;
    margin-top: 0.5rem;
    line-height: 1.375;
    overflow: auto;
    max-width: 100%;
    background-attachment: local, local, scroll, scroll;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    //background-color: #fdfdfd;
    word-break: break-word;
    //font-size: 1.5rem;
    //> h2 {
    //  font-size: 2rem;
    //}
  }
}

.preview-item {  
  margin-bottom: 0.5rem !important;
  margin-right: 0 !important;
  margin-top: 0.5rem;
  line-height: 1.375;
  overflow: auto;
  max-width: 100%;
  background-attachment: local, local, scroll, scroll;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  //background-color: #fdfdfd;
  word-break: break-word;
}

  .button-source-nav {
    display: inline-flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
  }
  
  .content {
    figure {
      margin-right: 0 !important;
    }
    background-color: #ffffff;
    color: #000000;
  }