@charset "utf-8";
@import "bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/css/all.css";

@media screen and (max-width:1023px){
  .preview-item{
    font-size: 2rem;
    > h2 {
      font-size: 2.2rem;
    }
  }
  .title {
    font-size: 2.5rem;
  }
  .subtitle{
    font-size: 2rem;
  }
  span.button-source-nav {
    font-size: 1.2rem;
  }
  span.tag {
    font-size: 1.5rem;
  }
}

.preview-item {  
    max-height: 450px;
    margin-bottom: 0.5rem !important;
    margin-right: 0 !important;
    margin-top: 0.5rem;
    line-height: 1.375;
    overflow: auto;
    max-width: 100%;
    background-attachment: local, local, scroll, scroll;
    padding: 1rem 2rem 2rem 0.5rem;
    //background-color: #fdfdfd;
    word-break: break-word;
  }

  .button-source-nav {
    display: inline-flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    white-space: nowrap;
    font-size: 0.75rem;
  }
  
  .content {
    figure {
      margin-right: 0 !important;
    }
    background-color: #ffffff;
    color: #000000;
  }